@using Tasks.Models;
@model Project

<h2>Просмотр проекта</h2>

<div class="form-horizontal">
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.project_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.project_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id_ts)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_ts)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.short_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.short_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id_status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_status)
        </dd>
    </dl>
    <div>
        @Html.ActionLink("Редактировать", "Edit", new { id = Model.id_project }) |
        @Html.ActionLink("Назад", "Index")
    </div>
</div>
